*{margin:0;padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
input:focus,button:focus{
	outline: none;
}
button{
	cursor: pointer;
}
li{list-style: none;}
.homeBox,.chatroomBox{
	width: 400px;
	min-height: 200px;
	margin:250px auto 0;
	border:1px solid #fe8534;
	border-radius: 6px;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.home_status{
	color: #fcaf17;
	font-size: 36px;
	margin:30px 0 30px;
}
.home_registered{}
.home_login{}
.home_avatar{}
.outLogin{}
.home_login,.home_registered,.home_avatar,.login_btn,.avatarSubmit{
	display: block;
	padding:0 10px;
	width: 200px;
	margin:0 auto 20px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	font-size: 18px;
	color: #fcaf17;
	background: none;
	border:1px solid #fcaf17;
	overflow: hidden;
}
.home_login:hover,.home_registered:hover,.home_avatar:hover,.login_btn:hover,.avatarSubmit:hover{
	background: #fe8534;
	color: #fff;
}
.outLogin{
	position: absolute;
	right: 15px;
	top: 15px;
	color: #fe8534;
}
.login_name{margin-top: 40px;}
.login_name,.login_password{
	display: block;
	margin-bottom: 14px;
}
.login_name span,.login_password span{
	display: inline-block;
	width: 64px;
	text-align: right;
	margin-right: 10px;
	color: #fcaf17;
}
.login_name input,.login_password input{
	border:none;
	border-bottom: 1px solid #fcaf17;
	height: 24px;
	padding-left: 6px;
	width: 166px;
	color: #fe8534;
}
.login_btn{
	margin-top: 30px;
}

.avatarBox{
	width: 400px;
	min-height: 200px;
	margin:250px auto 0;
	border:1px solid #fe8534;
	border-radius: 6px;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.imgBox{
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 120px;
	text-align: center;
	overflow: hidden;
	border:1px solid #fcaf17;
	margin:30px auto 15px;
}
.imgBox img{
	max-width: 120px;
	max-height: 120px;
	vertical-align: middle;
}
.imgBox span{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.uploadBox{
	display: block;
	position: relative;
	margin-bottom: 10px;
}
.uploadBox span{
	display: inline-block;
	width: 64px;
	text-align: right;
	margin-right: 10px;
	color: #fcaf17;
}
.uploadBox input{
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.uploadBox button{
	width: 76px;
	height: 34px;
	background: #fcaf17;
	color: #fff;
	border-radius: 4px;
	border:none;
}
.avatarSubmit{
	display: inline-block;
	width: auto;
	min-width: 200px;
}
.chatroomBox{
	margin:86px auto 0;
	width: 800px;
	height: 800px;
}
.chatroomTop{
	height: 650px;
	border-bottom: 1px solid #fe8534;
	font-size: 20px;
}
.chatroomTop li{
	text-align: left;
	width: 760px;
	margin: 5px auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.chatroomBottom{
	height: 150px;
}
.chatroomBottom textarea{
	width: 498px;
	height: 110px;
	border:none;
	padding:10px;
	margin:13px 0 0 15px;
	color: #fff;
	font-size: 23px;
	background: #fe8534;
	float: left;
	border-radius: 10px;
}
.chatroomBottom button{
	width: 224px;
	height: 130px;
	background: #fe8534;
	border:none;
	color: #fff;
	float: right;
	margin:13px 10px 0 0;
	border-radius: 10px;
	font-size: 30px;
}
.chatImgBox{
	float: left;
	width: 40px;
	height: 40px;
	border:1px solid #fe8534;
	overflow: hidden;
	border-radius: 40px;
	margin-right: 10px;
}
.chatImgBox img{
	width: 40px;
	height: 40px;
}
.chatRightBox{
	float: left;
}
.chatName{
	font-size: 16px;
	color: #666;
	margin-bottom: 6px;
}
.chatText{
	width: 400px;
	background:#ffcdac;
	padding:6px 10px;
	border-radius: 6px;
	color: #333;
}
.newsBox,.friendBox{width: 900px; min-height: 800px; margin:20px auto 0; border:1px solid #ffcdac;border-radius: 8px;}
.news_list{margin-top: 40px; width: 840px; margin:0 auto;}
.news_title{margin:6px auto 34px; text-align: center; border-bottom:1px solid #ffcdac; width:246px;position: relative;}
.news_title span{display: inline-block; width:120px;position: relative; top: 17px;background: #fff;font-size: 26px; color: #fcaf17;}
.news_title:before{content: "";left: 0;}
.news_title:after{content: "";right: 0;}
.news_title:before,.news_title:after{width: 10px; height: 10px; background:#fcaf17;border-radius: 10px; position: absolute;bottom: -5px;}
.news_list dd{height: 120px; border-bottom:1px solid #ffcdac;}
.news_avatar{float: left;width:92px; height: 92px; border:1px solid #ffcdac;overflow: hidden; margin:13px 16px 0 10px; border-radius: 92px;}
.news_avatar img{width: 92px; height: 92px;}
.news_info{float: left; height: 100%; width: 146px;text-align: center;}
.news_name{display: block; font-size: 20px;margin-top: 30px;}
.news_id{font-size: 18px}
.news_verification{float: left; height: 87px; width: 336px; padding-bottom:10px; margin:33px 0 0 26px; overflow: auto;}
.news_buttons{float: right; height: 100%;}
.news_buttons button{width: 90px; height: 30px;margin:36px 0 0 10px; border-radius: 4px;}
.news_agree{ border:none; background: #fcaf17;color: #fff;}
.news_refuse{border:1px solid #fcaf17; background: #fff; color: #fcaf17;}
/* 消息中心 */

.friendBox{}
.friendTop{overflow: hidden; width: 762px; margin:20px auto 0;}
.friend_news,.friend_add{padding:8px 32px; border:1px solid #fcaf17; border-radius:4px; color: #fcaf17; font-size: 24px;}
.friend_news{float: left;}
.friend_add{float: right;}
.friendList{width: 840px;margin:30px auto 0;}
.friendList li{ height: 140px; border-bottom: 1px solid #ffcdac;}
.friend_avatarBox{float: left;width: 92px; height: 92px;text-align: center; margin:24px 30px 0 40px; border:1px solid #ffcdac; border-radius: 92px; overflow: hidden;}
.friend_avatarBox img{max-width: 92px; max-height: 92px;}
.friend_infoBox{float: left;color: #666;margin-top: 35px;}
.friend_name{font-size: 24px;}
.friend_id{font-size: 22px;}
.friend_buttons{float: right;margin-right: 36px;}
.friend_chat{float: left;}
.friend_delete,.friend_chat{ float: left;background: #fcaf17;color: #fff; border:none;width: 130px; height: 38px;font-size: 18px; border-radius: 4px; margin:51px 0 0 15px;}

/* 好友列表 */

.friendTop input{width: 600px; height: 38px; border:1px solid #ffcdac; padding-left: 10px; color: #fcaf17;border-radius: 4px; margin-left: 40px;}
.friendTop button{margin-left: 10px; height: 36px;width: 80px; border:none; background:#fcaf17;color:#fff; border-radius: 3px;}
.friendAddList{margin-top: 20px}
.friendAddList li{height: 140px; width: 840px; border-bottom:1px solid #ffcdac; margin:0 auto;}
.friendAdd_avatarBox{float: left; width: 92px; margin:22px 28px 0 80px; height: 92px; border:1px solid #ffcdac; text-align: center; border-radius: 92px; overflow: hidden;}
.friendAdd_avatarBox img{max-width: 92px; max-height: 92px;}
.friendAdd_info{float: left; margin-top: 48px;}
.friendAdd_name{font-size: 24px; color: #333;}
.friendAdd_submit{float: right; width: 80px; height: 30px; border:1px solid #fcaf17; background: #fff; color:#fcaf17; margin:55px 68px 0 0; border-radius:4px; }
.friendAdd_already{float: right; width: 80px; height: 30px; border:1px solid #ccc; text-align: center; line-height: 30px; background: #fff; color:#ccc; margin:55px 68px 0 0; border-radius:4px; }
.popUpBox{ width: 400px; height: 230px; display: none; background: #fbc65e;border-right: 8px;position: fixed; margin:-115px 0 0 -200px; left: 50%;top: 50%; }
.popUp_titleBox{width: 360px; margin:20px auto 0; color: #fff; overflow: hidden;}
.popUp_title{float: left;font-size: 18px;}
.clone{float: right;cursor: pointer;font-size: 24px;}
.popUpBox_main{text-align: center;overflow: hidden;}
.popUpBox_main input{width: 360px;display: block;margin:40px auto 20px;border:none; color:#666;background: #fff;padding:0 10px;height: 36px; border-radius: 4px;}
.popUpBox_main button{width: 118px; height: 34px; border:#fff 1px solid; color: #fff;font-size: 20px; background:none;}
/* 好友添加 */

.lb_tc {background-color: #6c6b6b; position: fixed; border: 1px solid #484848; left: 50%;top: 50%; margin:-20px 0 0 -160px; width:320px; z-index:9999;  padding:15px 0; border-radius:50px;line-height: 40px;font-size: 24px;color: #f6f6f6;text-align: center;}
